.container {
    padding-inline: 18rem;
}

ion-text {
    font-size: 2rem;
    font-weight: bold;
}

.separador {
  height: 1.5px;
  width: 10rem;
  background-color: #222;
  margin: 2rem 0;
}

ion-img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* que la imagen no se deforme */
  border-radius: 6px;  /* opcional: esquinas redondeadas */
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

ion-img:hover {
  transform: scale(1.05);
}

ion-grid {
  margin-bottom: 2rem;
}

/* Extra pequeños (teléfonos en vertical, <576px) */
@media (max-width: 575.98px) {
  .container {
    padding-inline: 1rem;
  }
}

/* Pequeños (teléfonos grandes, ≥576px y <768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    padding-inline: 4rem;
  }
}

/* Medianos (tablets, ≥768px y <992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    padding-inline: 9rem;
  }
}

/* Grandes (laptops, ≥992px y <1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    padding-inline: 9rem;
  }
}

/* Extra grandes (pantallas desktop, ≥1200px y <1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  
}

/* Ultra grandes (≥1400px) */
@media (min-width: 1400px) {

}
