<ion-content (ionScroll)="onScroll($event)" scrollEvents="true">
  <app-header [isShrunk]="isShrunk"></app-header>

  <div id="container">
    <div class="containerTitle">
      <ion-text>Nuestro trabajo</ion-text>
    </div>
  </div>

  <app-gallery title="{{section_1.title}}" [images]="section_1.images"></app-gallery>

  <app-gallery title="{{section_2.title}}" [images]="section_2.images"></app-gallery>

  <app-gallery title="{{section_3.title}}" [images]="section_3.images"></app-gallery>

  <app-gallery title="{{section_4.title}}" [images]="section_4.images"></app-gallery>
</ion-content>

<app-footer></app-footer>
